<%- include('partials/appHeader') -%>


<div>
    <h1 class="text-6xl mr-5"><%= mealPlan.name %></h1>
</div>

<ul class="steps steps-vertical">
  <li class="step step-primary">Register</li>
  <li class="step step-primary">Choose plan</li>
  <li class="step">Purchase</li>
  <li class="step">Receive Product</li>
</ul>







<%- include('partials/footer') -%>