<%- include('partials/appHeader') -%>

    <div class="w-10/12 mx-auto mt-6">
      <div class="flex flex-flow justify-start">
        <h1 class="text-6xl mr-5"><%= mealPlan.name %></h1>
      </div>
    </div>

<%- include('partials/footer') -%>
